.box {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}



.list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn1 {
    border-radius: 5px;
    border: inherit;
    padding: 3px;
    margin-bottom: 10px;
    width: 70px;
    background-color: rgb(11, 18, 201);
    color: aliceblue;
    margin-right: 10px;

}



.btn1:hover,
.btn2:hover,
.btn3:hover {
    transform: scale(1.1);
}



.secondary__title {
    margin-bottom: 15px;
    font-size: 18px;

}